body {
  background-color: #F4FAFF;
}


/* nav bar */
nav { 
  background-color: #DEE7E7;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0px 0;
}

/* nav bar */
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

/* page links */
nav ul li a {
  text-decoration: none;
  color: black; 
}

/* page links hover */
nav ul li a:hover {
  color: #4F646F; 
}

/* social logos */
nav div a {
  color: #535657;
  margin: 0 10px;
}


/* social logos hover */
nav div a:hover {
  color: #4F646F; 
}

