nav {
  background-color: #f5f5f5;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav div a {
  color: #333;
  margin: 0 10px;
}

nav div a:hover {
  color: #0077b5; /* Change this to your preferred hover color */
}
